    <div class="bodyRow">
        <div class="adCollumn" flex flex-order="1">
            <p>Oil: {{$root.Progress.Oil}}</p>
            <p>Energy: {{$root.Progress.Energy}}</p>
            <p>Money: {{$root.Progress.Money}}</p>
            
            <p>Oil Use: {{$root.Progress.NegOilPS}}</p>
            <p>Energy Use: {{$root.Progress.NegEnergyPS}}</p>
            <p>Money Use: {{$root.Progress.NegMoneyPS}}</p>
            
            <p>Oil Production: {{$root.Progress.OilPS}}</p>
            <p>Energy Production: {{$root.Progress.EnergyPS}}</p>
            <p>Money Production: {{$root.Progress.MoneyPS}}</p>
        </div>

        <div class="vertSpacer"></div>
        <!-- Middle block, contains all the purchaseable things. !-->
        <div class="dataCollumn" flex flex-order="2">
            <div class="spacer"></div>
            <!-- ng-repeat="x in xContainer" !-->
            <!-- for(var i=0; i< Modules.length; i++){ Module = Modules[i] } !-->
            <div class="buyableItem" ng-repeat="Module in $root.Modules"  ng-show="Module.Category == 'energy'">
                    <div class="buyableCount">
                        <span>{{Module.Count}}</span>
                    </div>
                    <div class="vertSpacer"></div>
                    <div class="buyableIcon"></div>
                    <div class="vertSpacer"></div>
                    <div class="itemName">{{Module.Name}}
                        <br>EPS: {{Module.Produces.Energy}}</div>
                    <div class="itemDesc">{{Module.Description}}</div>
                    <div class="vertSpacer"></div>
                    <div class="itemCost">Cost: {{Module.Cost.Money}}</div>
                    <div class="vertSpacer"></div>
                    <button ng-click="Buy(Module)">Buy</button>
            </div>
            
        </div>
        <div class="vertSpacer"></div>
        <!-- Far Left. Contains the clicker, total unit ammount, and unit per second. !-->
        <div class="clickerCollumn" flex flex-order="3">
            <div>
                <h3 class="clickableTitle">Energy</h3>
            </div>
            <div class="clickable">
                <img id="EnergyClicker" src="images/lightning-icon.png">
                <button ng-click="addEnergy()">Add Energy</button>
            </div>
            <div class="EnergyCount">
                {{$root.Progress.Energy}} / {{$root.Progress.MaxEnergy}}
            </div>
            <div>Energy Per Second (EPS): {{$root.Progress.EnergyPS}}</div>
            <div>Energy Usage Per Second: {{$rootScope.Progress.NegEnergyPS}}</div>
        </div>

